<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KodakGallery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF5B679A138C397D00CF680A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB0F81E13D73C21001C2137</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFFB3BD143F6B4200D8AFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFFB4D6143F6B4900D8AFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFFB5EF143FB49000D8AFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFFB708143FB54E00D8AFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFFB821143FB55400D8AFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFFFB93A143FB55E00D8AFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
