<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBuildDate</key>
	<string>20114123.114119</string>
	<key>CFBuildNumber</key>
	<string>2</string>
	<key>CFBuildVersion</key>
	<string>3.0.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Kodak Gallery</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon.png</string>
		<string>AppIcon@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon.png</string>
				<string>AppIcon@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.kodakgallery.Gallery</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>2.0.0.21.20114123.114119</string>
	<key>CFBundleName</key>
	<string>KodakGallery</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>temporary-flower</string>
			<key>CFBundleURLName</key>
			<string>com.ptraeg.gallery.${PRODUCT_NAME:rfc1034identifier}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kodakgallery</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>130</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleOpaqueBlack</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>get-task-allow</key>
	<true/>
</dict>
</plist>
